body{
	
}

input::-webkit-input-placeholder {
	color: #AAAAAA;
}
input:-ms-input-placeholder { // IE10+
	color: #AAAAAA;
}
input:-moz-placeholder { // Firefox4-18
	color: #AAAAAA;
}
input::-moz-placeholder { // Firefox19+
	color: #AAAAAA;
}

textarea::-webkit-input-placeholder {
	font-size: 14px;
	color: #AAAAAA;
}
textarea:-ms-input-placeholder { // IE10+
	font-size: 14px;
	color: #AAAAAA;
}
textarea:-moz-placeholder { // Firefox4-18
	font-size: 14px;
	color: #AAAAAA;
}
textarea::-moz-placeholder { // Firefox19+
	font-size: 14px;
	color: #AAAAAA;
}

.mainContent{
	
}

.mainContent .title{
	height: 38px;
}

.mainContent .title input{
	height: 38px;
	width: 85%;
	margin-right: 10px;
	border: 0;
}

.mainContent .title a{
	font-size: 15px;
}

.mainContent .desc{
	height: 168px;
	position: relative;
}

.mainContent .desc textarea{
	border: 0;
	font-size: 14px;
}

.mainContent .desc .submit{
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: #2577FF;
	width: 80px;
	height: 35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainContent .desc .submit p{
	line-height: 35px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
}
