body{
	
}

.mainContent{
	
}

.mainContent .backToHome{
	width: 100%;
	height: 40px;
	background-color: #2577FF;
}

.mainContent .backToHome p{
	line-height: 40px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}

.mainContent .backToHome img{
	width: 20px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
}

.mainContent .mui-table-view{
	margin-top: 10px;
}

.mainContent .mui-table-view #organTitle{
	line-height: 40px;
	font-size: 18px;
	color: #3982F7;
}


.mainContent .mui-table-view #organAddress, .mainContent .mui-table-view #organCode{
	line-height: 25px;
	font-size: 14px;
	color: #333333;
}

.mainContent .mui-table-view img{
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-top: -3px;
	margin-left: 5px;
	margin-right: 2px;
}

.mainContent .mui-table-view span{
	color: #3982F7;
}

.mainContent .mui-table-view a{
	font-size: 14px;
}

.mainContent .detailPopout{
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	width: 80%;
	margin-left: 10%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 2;
}

.mainContent .detailPopout img{
	position: absolute;
	width: 24px;
	height: 24px;
	top: 10px;
	right: 10px;
}

.mainContent .detailPopout .detailPopoutTitle{
	line-height: 30px;
	font-size: 18px;
	color: #3982F7;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.mainContent .detailPopout .detailPopoutDesc{
	line-height: 20px;
	font-size: 14px;
	color: #999999;
	padding-left: 15px;
	padding-right: 15px;
}

.mainContent .detailPopout .detailPopoutDetail{
	line-height: 20px;
	font-size: 14px;
	color: #333333;
	padding-left: 15px;
	padding-right: 15px;
}

.mask{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.5);
}

/*动画效果*/

.mask{
	/* Safari and Chrome: */
	-webkit-animation-name:myfirst;
	-webkit-animation-duration:0.5s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
	0%   {display: inline;}
}

/*重写MUI默认样式*/

/*箭头颜色*/
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
	color: #3982F7;
}

/*分割线宽度*/
.mui-table-view-cell:after {
	/*height: 3px;*/
}