body{
	
}

p{
	margin-bottom: 0;
}

.mainContent{
	
}

.mainContent .detailList{
	margin-top: 10px;
}

.mainContent .detailList .detailListCell{
	height: 45px;
}

.mainContent .detailList .cellTitle{
	height: 23px;
	width: 30%;
	float: left;
}

.mainContent .detailList .cellTitle p{
	line-height: 23px;
	font-size: 14px;
	color: #333333;
}

.mainContent .detailList .cellDetail{
	height: 23px;
	width: 70%;
	float: right;
}

.mainContent .detailList .cellDetail input{
	width: 100%;
	height: 23px;
	line-height: 23px;
	font-size: 14px;
	color: #5D5D5D;
	padding: 0px;
	border: 0px;
}

.mainContent .submit{
	background: -webkit-linear-gradient(left, #00B6F7 0%, #008FFF 100%);
	height: 40px;
	margin: 30px 15px 0px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainContent .submit p{
	line-height: 40px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
}