body{
	
}

p{
	margin-bottom: 0;
}

.mainContent{
	
}

.mainContent .question{
	margin-top: 10px;
}

.mainContent .question .title{
	line-height: 30px;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}

.mainContent .question .info{
	line-height: 20px;
	font-size: 14px;
	color: #999999;
}

.mainContent .question .desc{
	line-height: 20px;
	font-size: 14px;
	color: #666666;
}

.mainContent .answer{
	margin-top: 10px;
}

.mainContent .answer .title{
	line-height: 30px;
	font-size: 16px;
	color: #2577FF;
	font-weight: bold;
}

.mainContent .answer .info{
	line-height: 20px;
	font-size: 14px;
	color: #999999;
}

.mainContent .answer .desc{
	line-height: 20px;
	font-size: 14px;
	color: #666666;
}

.mainContent .more{
	margin-top: 10px;
}

.mainContent .more .relatAndMore{
	line-height: 30px;
}

.mainContent .more #relat{
	color: #2AA515;
	font-weight: bold;
	font-size: 16px;
}

.mainContent .more #more{
	color: #2577FF;
	font-size: 15px;
	float: right;
}

.mainContent .more .title{
	line-height: 30px;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}

.mainContent .more .time{
	line-height: 20px;
	font-size: 14px;
	color: #999999;
}
