body{
	
}

p{
	margin-bottom: 0;
}

.mainContent{
	
}

.mainContent .homeAndAsk{
	width: 100%;
	height: 40px;
}

.mainContent .homeAndAsk .home{
	float: left;
	width: 50%;
	background-color: #FFFFFF;
}

.mainContent .homeAndAsk .home p{
	line-height: 40px;
	font-size: 16px;
	color: #2577FF;
	text-align: center;
}

.mainContent .homeAndAsk .home img{
	width: 20px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
}

.mainContent .homeAndAsk .ask{
	float: right;
	width: 50%;
	background-color: #2577FF;
}

.mainContent .homeAndAsk .ask p{
	line-height: 40px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}

.mainContent .homeAndAsk .ask img{
	width: 18px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
}

.mainContent .QAList{
	margin-top: 10px;
}

.mainContent .QAList .QACell{
	background-color: #FFFFFF;
	margin-bottom: 10px;
}

.mainContent .QAList .title{
	line-height: 25px;
	font-size: 16px;
	color: #333333;
	font-weight: bold;
	padding: 10px 15px;
}

.mainContent .QAList .time{
	line-height: 20px;
	font-size: 14px;
	color: #999999;
	padding-left: 15px;
	padding-right: 15px;
}

.mainContent .QAList .desc{
	line-height: 20px;
	font-size: 14px;
	color: #666666;
	padding: 10px 15px;
}

.mainContent .QAList .done{
	color: #2AA515;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #2AA515;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2px;
}

.mainContent .QAList .undone{
	color: #E16531;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #E16531;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 2px;
}

.mainContent .notice{
	height: 30px;
	display: none;
}

.mainContent .notice p{
	line-height: 30px;
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin-bottom: 0;
}

.mainContent .notice img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 5px;
}

.mainContent .searchIcon{
	background-color: #2477FF;
	position: fixed;
	width: 32px;
	height: 32px;
	bottom: 20px;
	right: 20px;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
}

.mainContent .searchIcon img{
	width: 20px;
	height: 20px;
	margin-top: 6px;
	margin-left: 6px;
}
