body{
	background-color: #FFFFFF;
}

p{
	margin-bottom: 0;
}

.mainContent{
	
}

.mainContent .search{
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	padding-top: 1px;
}

.mainContent .search .searchInput{
	width: 90%;
	height: 28px;
	background-color: #EBEBEB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 5%;
	margin-top: 11px;
	display: inline-block;
}

.mainContent .search .searchInput img{
	width: 16px;
	height: 16px;
	margin-top: -3px;
	margin-left: 8px;
	margin-right: 8px;
	vertical-align: middle;
}

.mainContent .search .searchInput input{
	width: 85%;
	height: 28px;
	border: 0;
	margin-bottom: 0;
	padding: 0;
	line-height: 28px;
	font-size: 14px;
	color: #333333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #EBEBEB;
}

.mainContent .banner{
	width: 100%;
}

.mainContent .banner img{
	width: 100%;
	display: block;
}

.mainContent .blankDiv{
	width: 100%;
	height: 10px;
	background-color: #EBEBEB;
}

.mainContent .services{
	width: 100%;
	border-bottom: 1px solid #E1E6EC;
}

.mainContent .services .serviceCell{
	width: 33.3%;
	height: 105px;
	overflow: hidden;
	display: inline-block;
	margin: -2px;
	border-top: 1px solid #EBEBEB;
}

.mainContent .services .serviceCell img{
	width: 55px;
	display: block; 
	margin: 0 auto;
	margin-top: 15px;
}

.mainContent .services .serviceCell p{
	line-height: 25px;
	font-size: 14px;
	color: #333333;
	text-align: center;
}

/*重写MUI样式*/

.mui-input-row .mui-input-clear~.mui-icon-clear, 
.mui-input-row .mui-input-password~.mui-icon-eye, 
.mui-input-row .mui-input-speech~.mui-icon-speech{
	top: 4px;
}